* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#main {
  background-image: url(/assets/images/bgImg.png);
  background-position: center center;
  background-size: max(2350px, 100vw);
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: relative;
  /* border: 1px solid red; */
}
#main #box {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  /* border: 2px solid red; */
  background-color: black;
  opacity: 0.69;
}
#main #nav {
  max-width: 76vw;
  margin: auto;
  position: relative;
  /* top: 0; */
  z-index: 1;
  /* background-color: green; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  /* height: 62px; */
  /* padding: 48px 0px; */
}
#nav img {
  width: 150px;
  /* width: 114px; */
  /* color: red; */
}
/* #nav #navBtn {
  background-color: red;
} */
#nav #navBtn #engBtn {
  font-family: "Netflix Sans", Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  font-weight: 500;
  padding: 7px 40px;
  font-size: 15px;
  color: white;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid rgb(120, 108, 108);
}
#nav #navBtn #signBtn {
  font-family: "Netflix Sans", Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  font-weight: 500;
  padding: 6px 16px;
  margin-left: 20px;
  font-size: 15px;
  color: white;
  background-color: red;
  /* background-color: transparent; */
  border-radius: 5px;
  /* border: 1px solid rgb(120, 108, 108); */
  border: none;
}

#page-1 {
  position: relative;
  /* width: 100%; */
  /* background-color: red; */
  /* height: calc(100%-80px); */
  height: calc(100% - 80px);
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid blue;
  flex-direction: column;
}
#page-1 p {
  color: white;
  font-family: "Poppins", sans-serif;
  /* align-items: center; */
  text-align: center;
  margin: 0px 30px;
}
#page-1 > :nth-child(1) p {
  font-weight: 800;
  font-size: 45px;
  /* padding: 13px 0px; */
  margin: 5px 0px;
}
#page-1 > :nth-child(2) p {
  font-weight: 400;
  font-size: 22px;
  /* padding: 5px 0px; */
  margin: 10px 0px;
}
#page-1 > :nth-child(3) p {
  font-size: 40px;
  font-weight: 400;
  font-size: 19px;
  /* padding: 13px 0px; */
  margin: 10px 0px;
}

#page-1 > :nth-child(4) {
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 2; */
  width: 100vw;
  flex-wrap: wrap;
}
#page-1 > :nth-child(4) > :nth-child(1) {
  margin: 10px 0px;
  width: 350px;
  border-radius: 3px;
  background-color: transparent;
  border: 1px solid gray;

  padding: 15px 15px;
  /* outline: none; */
  font-size: 15px;
  font-weight: 300;

  color: white;
}
::placeholder {
  color: white;
}
#page-1 > :nth-child(4) > :nth-child(2) {
  margin: 10px 10px;
  height: 50px;
  width: 200px;
  border-radius: 3px;
  background-color: 	#db0000;
  /* padding-left : 5px; */
  gap: 2;

  padding: 12px 0px;
  font-size: 20px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  color: white;
}
#rightArr {
  height: 15px;
  margin-left: 8px;
  filter: invert();
  /* fill: white; */
  /* background-color: black; */
}
